@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
$animationSpeed: 8s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-850px * 5))}
}
// Styling
.banner {
	opacity: 1;
	background: whitesmoke;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 780px;
	margin-top: 53px;
	margin-bottom: 53px;
	overflow:hidden;
	position: relative;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.container {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
        height: inherit;
		width: calc(850px * 5);
	}	
	.imagem{
        display: flex;
		height: inherit;
		width: 850px;
	}
}
