.painel{
    width: 99vw;
    height: 80vh;
}
.painel .sombra{
    display: flex;
    justify-content: center;
    z-index: 100;
    position: absolute;
    background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.61));
    width: inherit;
    height: inherit;
    align-items: flex-end;
}
.painel .sombra .ponto{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 23px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.479);
    width: 8px;
    height: 8px;
}
.painel .banner{
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    width: inherit;
    height: inherit;
}
.painel .banner .container{
    width: 100%;
    height: inherit;
    margin: 0;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s;
}
.painel .banner .container .imagem{
    flex-shrink: 0;
    position: relative;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease 0.5s;
    height: inherit;  
    margin: 0;
}
.painel .direita, .painel .esquerda{
    width: 64px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 19px;
    z-index: 108;
}
.painel .direita div, .painel .esquerda div{
    transition: all ease 0.1s;
    padding: 13px;
    vertical-align: middle;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.479);
    border:2px solid rgba(255, 255, 255, 0.479);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.painel .direita div:hover, .painel .esquerda div:hover{
    color: white;
    border:2px solid white;
}
.painel .direita{
    right: 0;
}
.painel .esquerda{
    left: 0;
}
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
