.painel{
    width: 100vw;
    height: 80vh;
}
.painel .banner{
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    width: inherit;
    height: inherit;
}
.painel .banner .container{
    width: 100%;
    height: inherit;
    margin: 0;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s;
}
.painel .banner .container .imagem{
    flex-shrink: 0;
    position: relative;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease 0.5s;
    height: inherit;  
    margin: 0;
}
.painel .direita, .painel .esquerda{
    width: 56px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
}
.painel .direita img, .painel .esquerda img{
    width: 34px;
    height: 34px;
}
.painel .direita img:hover, .painel .esquerda img:hover{
    cursor: pointer;
}
.painel .direita{
    right: 0;
}
.painel .esquerda{
    left: 0;
}