
$animationSpeed: 2s;
$quantidade: 3;
$largura:4500px;
// Animation
@keyframes scroll2 {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-1*($largura/2)))}
}
// Styling
.banner {
	opacity: 1;
	height: 780px;
	overflow:hidden;
	position: relative;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.container {
		animation: scroll2 $animationSpeed ease-in-out 4s;
		display: flex;
		justify-content: center;
        height: inherit;
		width: calc($largura * $quantidade);
	}	
	.imagem{
        display: flex;
		height: inherit;
		width: $largura;
	}
}
