.painel{
    width: 100vw;
    height: 90vh;
}
.painel .banner{
    overflow-y: hidden;
    overflow-x: hidden;
    width: inherit;
    height: inherit;
}
.painel .banner .container{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all ease 0.4s;
    height: inherit;
}
.painel .banner .container .imagem{
    display: none;
    position: relative;
    float: right;
    width:100vw;
    transition: all ease 0.5s;
    height: inherit;  
    margin-right: -100%; 
}
.painel .banner .container .imagem.ative{
    margin-right: 0%; 
    transition: all ease 0.5s;
    display: block;
}
.painel .banner .container .imagem.preparo{
    margin-right: -100%; 
    transition: all ease 0.5s;
    display: block;
}
.painel .banner .container .imagem.saindo{
    transition: all ease 0.5s;
    display: block;
    transform: translateX(-100%);
}
.painel .banner .container .imagem img{
    height: 100vh;
    width: 100vw;   
}
.painel .direita, .painel .esquerda{
    width: 56px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
}
.painel .direita img, .painel .esquerda img{
    width: 34px;
    height: 34px;
}
.painel .direita img:hover, .painel .esquerda img:hover{
    cursor: pointer;
}
.painel .direita{
    right: 0;
}
.painel .esquerda{
    left: 0;
}