.logos{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f3f5fa;
    width: 100%;
    min-height: 100px;
}
.logos div{
    background-size: cover;
    padding-left: 13px;
    padding-right: 13px;
    transition: all ease 0.2s;
    height: 90px;
    width: 160px;
    scale: 0.7;
}
.logos div:hover{
    scale: 0.9;
}
@media screen and (max-width:900px){
    .logos div {
        padding-left: 6px;
        padding-right: 7px;
        transition: all ease 0.2s;
        height: 88px;
        width: 123px;
    }

}