.quem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 450px;
}
.quem .quadro{
    margin-top: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70%;
}
.quem h1{
    text-align: center;
}
.quem .titulo{
    height: 10px;
}
.quem .titulo strong{
    font-family: Roboto fina;
    font-weight: bold;
    font-size: 33px;
}
.quem .titulo h1::before{
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: -60px;
    left: calc(50% - 60px);
}
.quem .titulo h1::after{
    position: relative;
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #e46647;
    bottom: -20px;
    left: calc(50% - 20px);
}
.quem .info{
    height: 100%;
}
.quem .left{
    padding-right: 16px;
    height: 60%;
    width: 50%;
    opacity: 0;
}
.quem .sede-direita{
    padding-left: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 60%;
    opacity: 0;
}
.quem .sede-direita .misao-visao-valores{
    margin-bottom: 23px;
    display:flex; 
    flex-direction:column; 
    align-items:baseline; 
    justify-content:'left';
}
.produto-destaque{
    opacity: 0;
}
.quem .titulo{
    display: flex;
    justify-content: center;
}
.quem .info{
    display: flex;
    justify-content: right;
}
.quem .info p{
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    width: 90%;
    text-align: justify;
}
.qualidade{
    background: #f1eae6;;
    width: 100%;
    height: 650px;
    display: flex;
}
.qualidade .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}
.qualidade .left h1, .qualidade .left h3{
    margin-bottom: 15px;
    margin-left: 65px;
}
.qualidade .left h1 strong{
    font-family: Roboto forte;
}
.qualidade .right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.qualidade .right img{
    transition: all ease 0.2s;
    animation: flutuar 3s linear infinite;
    width: 80%;
    height: 80%;
}
.qualidade .left .vantagens{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.qualidade .left .vantagens h3{
    color: black;
    font-size: 19px;
    text-align: start;
    border-radius: 14px;
    background: white;
    height: 45px;
}
.qualidade .left .vantagens h3 strong{
    font-size: 30px;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f3f5fa;
    width: 100%;
    min-height: 100px;
}
.logos img{
    padding-left: 13px;
    padding-right: 13px;
    transition: all ease 0.2s;
    height: 80%;
    width: 160px;
    scale: 0.7;
}
.logos img:hover{
    scale: 0.9;
}
.rh{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 640px;
}
.rh h2{
    margin: 10px;
    font-size: 30px;
    font-family: Roboto normal;
}
.rh h2::before{
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: -60px;
    left: calc(50% - 60px);
}
.rh h2::after{
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #e46647;
    bottom: -21px;
    left: calc(50% - 20px);
}
.rh .card{
    align-items: center;
    margin: 10px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.rh .card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.rh .card h3{
    text-align: center;
    width: 100%;
}
@keyframes flutuar{
    0%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-30px);
    }
}
@media screen and (max-width:900px){
    .quem .quadro{

        flex-direction: column;
    }
}