.quem{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 450px;
}
.quem .quadro{
    margin-top: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70%;
}
.quem h1{
    text-align: center;
}
.quem .titulo{
    height: 10px;
}
.quem .titulo strong{
    font-family: Roboto fina;
    font-weight: bold;
    font-size: 33px;
}
.quem .titulo h1::before{
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: -60px;
    left: calc(50% - 60px);
}
.quem .titulo h1::after{
    position: relative;
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #e46647;
    bottom: -20px;
    left: calc(50% - 20px);
}
.quem .info{
    height: 100%;
}
.quem .left{
    padding-right: 16px;
    height: 60%;
    width: 50%;
    opacity: 0;
}
.quem .sede-direita{
    padding-left: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 60%;
    opacity: 0;
}
.quem .sede-direita .misao-visao-valores{
    margin-bottom: 23px;
    display:flex; 
    flex-direction:column; 
    align-items:baseline; 
    justify-content:'left';
}
.produto-destaque{
    padding-top: 74px;
    padding-bottom: 74px;
    opacity: 0;
}
.quem .titulo{
    display: flex;
    justify-content: center;
}
.quem .info{
    display: flex;
    justify-content: right;
}
.quem .info p{
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    width: 90%;
    text-align: justify;
}
.qualidade{
    margin-top: 32px;
    background: #f1eae6;
    width: 100%;
    height: 750px;
    display: flex;
}
.qualidade .left2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}
.qualidade .left2 h1, .qualidade .left2 h3{
    margin-bottom: 15px;
    margin-left: 65px;
}
.qualidade .left2 h1 strong{
    font-family: Roboto forte;
}
.qualidade .right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.qualidade .right img{
    transition: all ease 0.2s;
    animation: flutuar 3s linear infinite;
    width: 80%;
    height: 80%;
}
.qualidade .left2 .vantagens{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.qualidade .left2 .vantagens h3{
    color: black;
    font-size: 19px;
    text-align: start;
    border-radius: 14px;
    background: white;
    height: 45px;
}
.qualidade .left2 .vantagens h3 strong{
    font-size: 30px;
}
.rh{
    margin-top: 43px;
    margin-bottom: 43px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 640px;
}
.rh h2{
    padding-bottom: 23px;
    margin: 40px;

}
.rh h2 strong{
    font-family: Roboto fina;
    font-weight: bold;
    font-size: 33px;
}
.rh h2::before{
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: -62px;
    left: calc(50% - 60px);
}
.rh h2::after{
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #e46647;
    bottom: -21px;
    left: calc(50% - 20px);
}
.rh .card{
    opacity: 0;
    align-items: center;
    margin: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
}
.rh .card:hover{
    transition: all ease 0.4s;
    transform: translateY(-15px);
}
.rh .card .nome{
    padding: 15px;
    font-family: Roboto media;
}
.rh .card .descri{
    font-size: 17px;
    width: 90%;
    text-align: justify;
}
.rh .card img{
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.4);
    border: 4px solid rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.rh .card h3{
    text-align: center;
    width: 100%;
}
.sede{
    overflow-y: hidden;
    width: 100%;
    height: 550px;
    background-image: url('../../icons/predio.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sede .info2{
    width: 50%;
    height: 100%;
}
.sede .info2 div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sede .info2 h1{
    color:white;
    font-size:40px; 
    font-family: Roboto forte;
}
.sede .info2 h3{
    color: white;
    font-size: 14px;
}
@keyframes flutuar{
    0%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-30px);
    }
}
@media screen and (max-width:900px){
    .quem .quadro{

        flex-direction: column;
    }
}