header{
    transition: all ease 0.4s;
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 999;
    align-items: center;
}
header .lista{
    background: url('./lista.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6%;
    width: 4%;
    height: 50%;
}
header .lista.black{

}
header.black{
    transition: all ease 0.4s;
    background: rgba(31, 11, 7, 0.945);
    position: fixed;
}
header .logo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
header .logo .l{
    background: url('../../icons/logo.png') no-repeat center center;
}
header .logo .l.black{
    background: url('../../icons/logo2.png') no-repeat center center;
}
header .logo .l, header .logo .l.black{
    background-size: contain;
    width: 149px;
    height: 27px;
}
header .info, header .info.black{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
    height: 100%;
}
header .info h2, header .info.black h2{
    cursor: pointer;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
header .info h2{
    color: rgb(0, 0, 0);
}
header .info h2:active, header .info.black h2:active{
    border-bottom: 2px solid rgb(212, 193, 14);
} 
header .info.black h2{
    color: white;
}
