body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Roboto normal;
  src: url('./font/Roboto-Thin.ttf');
}
@font-face {
  font-family: Roboto fina;
  src: url('./font/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto media;
  src: url('./font/Roboto-Regular.ttf');
}
@font-face {
  font-family: Roboto forte;
  src: url('./font/Roboto-BoldCondensed.ttf');
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto normal;
}
body{
  overflow-y: scroll;
}